 <div class="content">


  <img src="{{foundMeme.memePath}}" alt="">
  <h3>{{foundMeme.memeTitle}}</h3>
  <p>{{foundMeme.memeDescription}}</p>
  <button><a href="{{foundMeme.memePath}}" download="{{foundMeme.memeTitle}}.jpg">Download Meme</a></button>
  </div>